<div class="main-card">
  <header class="main-card-header">
    <div class="main-card-header__points">
      <span class="main-card-header__points-text" matTooltip="Тип операции"
        >Пошив манжет внутренний</span
      >
    </div>

    <div class="main-card-header__name"><h1>Сотрудник: 200341</h1></div>

    <div class="main-card-header__settings">
      <button mat-icon-button color="primary" matTooltip="Завершить сессию">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>
  <div class="main-card-body">
    <div class="main-card-body__counter">
      <div class="main-card-body__done">
        <div class="main-card-body__title"><h4>Изготовлено</h4></div>
        <div class="main-card-body__number-wrapper">
          <span class="main-card-body__number">10</span>
        </div>
      </div>
      <mat-divider vertical></mat-divider>
      <div class="main-card-body__plan">
        <div class="main-card-body__title"><h4>План работ</h4></div>
        <div class="main-card-body__number-wrapper">
          <span class="main-card-body__number">20</span>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="main-card-footer">
    <div class="main-card-footer__faq">
      <button mat-button color="primary" (click)="openFaq()"><mat-icon>help</mat-icon> Справка</button>
    </div>
    <div class="main-card-footer__money">
      <span>Заработано: <strong>405 ₽</strong></span>
    </div>
    <div class="main-card-footer__manufacture">
      <button mat-raised-button color="primary">Изготовить деталь</button>
    </div>
  </div>
</div>
