<div class="main-card">
  <header class="main-card-header">
    <div class="main-card-header__points"><strong>Изготовлено деталей: 20</strong></div>

    <div class="main-card-header__name"><strong>Сотрудник: 200341</strong></div>

    <div class="main-card-header__settings">
      <button mat-icon-button aria-label="Открыть настройки" color="primary">
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button aria-label="Завершить сеанс" color="primary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>
</div>
