.main-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 16px 0;
    flex-shrink: 0;

    &__points {
      text-align: start;
    }

    &__name {
      text-align: center;
    }
  }

  .main-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    user-select: none;
    padding: 16px 16px 0;

    &__section {
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__section-name {
      text-align: left;
    }

    .progress-bar-counter {
      display: flex;
      justify-content: space-between;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 4px;
    }

    .do-detail-button {
      margin-top: 24px;
      margin-bottom: 8px;
      width: 200px;
      height: 56px;
      align-self: center;
    }
  }

  .main-card-footer {
    flex-shrink: 0;
    padding: 16px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__manufacture, &__faq {
      width: 30%;
    }

    &__faq {
      text-align: start;
    }

    &__manufacture {
      text-align: end;
    }
  }
}


