.main-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 16px 0;
    flex-shrink: 0;

    &__points, &__name, &__settings {
      width: 30%;
    }

    &__points {
      text-align: start;

      &-text {
        font-size: 16px;
        font-weight: 400;
      }
    }

    &__name {
      text-align: center;
    }

    &__settings {
      text-align: end;
    }
  }

  .main-card-body {
    padding: 16px;
    flex: 1 0 auto;
    user-select: none;

    &__counter {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    &__number {
      line-height: 150px;
      font-size: 150px;
    }

    &__done,
    &__plan {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      flex-shrink: 0;
    }

    &__number-wrapper {
      flex: 1 0 auto;

      display: flex;
      align-items: center;
    }
  }

  .main-card-footer {
    flex-shrink: 0;
    padding: 16px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__manufacture, &__money, &__faq {
      width: 30%;
    }

    &__faq {
      text-align: start;
    }

    &__money {
      text-align: center;

      strong {
        font-size: 16px;
      }
    }

    &__manufacture {
      text-align: end;
    }

  }
}


