<h1 mat-dialog-title>Вы уверены, что деталь изготовлена?</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item matListItemTitle>Для изготовления детали следует выполнить пункты:</mat-list-item>
    <mat-list-item>1. Прошить шов</mat-list-item>
    <mat-list-item>2. Закрепить изготовленную конструкцию</mat-list-item>
    <mat-list-item>3. Завершить выполнение работы</mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="false">Нет</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Да</button>
</div>
