<h2 mat-dialog-title>Справочная информация</h2>
<mat-dialog-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Операция "Пошив манжет внутренний"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Learn one way to build applications with Angular and reuse your code and abilities to build
        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Как начисляются деньги?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Learn one way to build applications with Angular and reuse your code and abilities to build
        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Не успеваю в план
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Learn one way to build applications with Angular and reuse your code and abilities to build
        apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" mat-dialog-close cdkFocusInitial>Закрыть</button>
  </mat-dialog-actions>
